
body { padding-top: 30px }

.error p {
  padding: 15px;
  margin: 10px auto;
}

.login {
  max-width: 420px;
  margin: 100px auto;
  padding: 25px 15px;
  border-radius: 5px;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
}

table .action {
  width: 48px;
}
table .action > a {
  color: #a94442;
  text-decoration: none;
}
table .action > a:active {
  position: relative;
  top: 2px;
  left: 1px;
}
